@charset "UTF-8";
/*================================
    ▽共通スタイル
================================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Hiragino Mincho ProN', 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', serif;
}

.wrap {
  overflow: hidden;
}

a:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*================================
    ▽共通カラー
================================*/
/*================================
    ▽共通フォントサイズ
================================*/
/*===============================================
	▽スマートフォン・タブレット表示
	（横幅が480～1024pxは下記スタイル適用）
===============================================*/
@media screen and (max-width: 1024px) {
  /*================================
		header
	================================*/
  header {
    height: 50vh;
    background-image: url(../images/mainImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  header .header-container {
    width: 100vw;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    opacity: 0.9;
    position: fixed;
    z-index: 5;
  }
  header .header-container .header-logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
  }
  header .header-container .header-nav {
    display: none;
  }
  header .header-container .Hamburger #open {
    cursor: pointer;
    margin-right: 20px;
    font-size: 25px;
    line-height: 50px;
  }
  header .header-container .Hamburger #open.hide {
    display: none;
  }
  header .header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    font-size: 28px;
    color: white;
  }
  .overlay {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 64px;
    opacity: 0;
    text-align: center;
    pointer-events: none;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
    z-index: 10;
  }
  .overlay #close {
    position: absolute;
    top: 10px;
    right: 16px;
    font-size: 32px;
    cursor: pointer;
  }
  .overlay ul {
    list-style: none;
  }
  .overlay ul li {
    margin-top: 24px;
    opacity: 0;
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  }
  .overlay ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  .overlay.show {
    pointer-events: auto;
    opacity: 1;
  }
  .overlay.show li {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  .overlay.show li:nth-child(1) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .overlay.show li:nth-child(2) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .overlay.show li:nth-child(3) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  /*================================
		About
	================================*/
  .About .About-container {
    width: 100vw;
    padding: 70px 0;
    margin: 0 auto;
  }
  .About .About-container .About-title {
    margin-bottom: 30px;
    font-size: 28px;
    text-align: center;
  }
  .About .About-container .About-group {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .About .About-container .About-group img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
  }
  .About .About-container .About-group .About-message {
    margin: 40px;
    line-height: 24px;
    text-align: left;
  }
  .About .About-container .About-group .About-message p {
    font-size: 18px;
    padding: 12px 0;
  }
  .About .About-container .About-group ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .About .About-container .About-group ul li a #Github,
  .About .About-container .About-group ul li a #Twitter,
  .About .About-container .About-group ul li a #Qiita {
    height: 100px;
    width: 100px;
    margin: 0 20px;
  }
  /*================================
		Works
	================================*/
  .Works {
    padding: 70px 0;
    width: 100vw;
    margin: 0 auto;
    background-color: #efefef;
    position: relative;
  }
  .Works .Works-title {
    margin-bottom: 30px;
    font-size: 28px;
    text-align: center;
  }
  .Works .Works-container .Works-case .Works-ul .Work-li {
    text-align: center;
    margin: 50px 20%;
  }
  .Works .Works-container .Works-case .Works-ul .Work-li img {
    height: 90%;
    width: 90%;
    cursor: pointer;
    border-radius: 10px;
  }
  .Works .Works-container .Works-case .Works-ul .Work-li img:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .Works .Works-container .Works-case .Works-ul .Work-li h3 {
    font-size: 18px;
    margin: 20px 0;
  }
  .Works .mask {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 64px;
    opacity: 0;
    text-align: center;
    pointer-events: none;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    z-index: 1;
  }
  .Works .mask.show {
    pointer-events: auto;
    opacity: 1;
  }
  .Works .mask.hide {
    display: none;
  }
  /*================================
		Contact
	================================*/
  .Contact {
    text-align: center;
  }
  .Contact .Contact-container {
    padding: 70px 0;
    width: 70vw;
    margin: 0 auto;
  }
  .Contact .Contact-container .Contact-title {
    margin-bottom: 30px;
    font-size: 28px;
    text-align: center;
  }
  .Contact .Contact-container .Contact-form .Contact-form-name,
  .Contact .Contact-container .Contact-form .Contact-form-mail,
  .Contact .Contact-container .Contact-form .Contact-form-phone,
  .Contact .Contact-container .Contact-form .Contact-form-company,
  .Contact .Contact-container .Contact-form .Contact-form-message {
    width: 100%;
    padding: 4px 12px;
    font: size 13px;
    margin-bottom: 12px;
    border: none;
    border-bottom: 2px solid gray;
  }
  .Contact .Contact-container .Contact-form .Contact-form-message {
    height: 100px;
  }
  .Contact .Contact-container .Contact-form .Contact-btn {
    border: none;
    cursor: pointer;
    color: white;
    background-color: #87e7b0;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px 36px;
    margin: 20px 0;
  }
  .Contact .Contact-container .Contact-form .Contact-btn:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: 0.9s;
    transition: 0.9s;
    opacity: 0.9;
  }
  /*================================
		footer
	================================*/
  footer {
    height: 40px;
    width: 100vw;
    margin: 0 auto;
    background-color: #87e7b0;
  }
  footer .footer-container {
    padding-top: 10px;
  }
  footer .footer-container p {
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
}

/*===============================================
	▽PC表示
	（横幅が1024px以上は下記スタイル適用）
===============================================*/
@media (min-width: 1025px) {
  /*================================
		Header
	================================*/
  header {
    height: 80vh;
    background-image: url(../images/mainImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  header .header-container {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 100vw;
    opacity: 0.9;
    position: fixed;
  }
  header .header-container .header-logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 24px;
    height: 50px;
    margin-left: 50px;
    line-height: 50px;
  }
  header .header-container .header-nav .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 50px;
  }
  header .header-container .header-nav .header-list li {
    margin: 0 40px;
  }
  header .header-container .header-nav .header-list li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: inline-block;
  }
  header .header-container .header-icon {
    display: none;
  }
  header p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    font-size: 48px;
    color: white;
  }
  .overlay {
    display: none;
  }
  /*================================
		About
	================================*/
  .About .About-container {
    height: 600px;
    width: 100vw;
    padding: 90px 0;
    margin: 0 auto;
  }
  .About .About-container .About-title {
    margin-bottom: 60px;
    font-size: 38px;
    text-align: center;
  }
  .About .About-container .About-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 1100px;
    margin: 0 auto;
  }
  .About .About-container .About-group img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    -webkit-box-shadow: -5px 5px #4b9600;
            box-shadow: -5px 5px #4b9600;
  }
  .About .About-container .About-group p {
    font-size: 18px;
    line-height: 40px;
  }
  /*================================
		Works
	================================*/
  .Works {
    padding: 90px 0;
    height: 1000px;
    width: 100vw;
    margin: 0 auto;
    background-color: #efefef;
  }
  .Works .Works-title {
    margin-bottom: 60px;
    font-size: 38px;
    text-align: center;
    margin-bottom: 90px;
  }
  .Works .Works-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .Works .Works-container .Works-case {
    text-align: center;
    border: 2px solid gray;
    border-radius: 12px;
  }
  .Works .Works-container .Works-case h3 {
    font-size: 24px;
    margin-top: 30px;
  }
  .Works .Works-container .Works-case p {
    font-size: 14px;
    margin-top: 15px;
  }
  .Works .Works-container .Works-case img {
    height: 300px;
    width: 400px;
    border-radius: 10px 10px 0 0;
  }
  .Works .Works-container .Works-case .more {
    margin: 30px 0;
    width: 300px;
    height: 47px;
  }
  .Works .Works-list {
    text-align: center;
  }
  .Works .Works-list .Works-list-btn {
    margin-top: 80px;
    display: inline-block;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    padding: 12px 40px;
    font-size: 20px;
  }
  /*================================
		footer
	================================*/
  footer {
    height: 40px;
    width: 100vw;
    margin: 0 auto;
    background-color: black;
  }
  footer .footer-container {
    padding-top: 10px;
  }
  footer .footer-container p {
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */