@charset "UTF-8";
/*================================
    ▽共通設定
================================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Hiragino Mincho ProN', 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', serif;
}

.wrap {
  overflow: hidden;
}

a:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*===============================================
	▽スマートフォン・タブレット表示
	（横幅が480～1024pxは下記スタイル適用）
===============================================*/
@media (min-width: 480px) and (max-width: 1024px) {
  /*================================
		ヘッダー
	================================*/
  header {
    height: 50vh;
    background-image: url(../images/mainImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .header-container {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 100vw;
    opacity: 0.9;
    position: fixed;
  }
  header .header-container .header-logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-left: 40px;
  }
  header .header-container .header-nav {
    display: none;
  }
  header .header-container .header-icon {
    display: block;
    font-size: 28px;
  }
  header .header-container .header-icon #open {
    cursor: pointer;
  }
  header .header-container .header-icon #open.hide {
    display: none;
  }
  header p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    font-size: 24px;
    color: white;
  }
  .overlay {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 64px;
    opacity: 0;
    text-align: center;
    pointer-events: none;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
  }
  .overlay #close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 32px;
    cursor: pointer;
  }
  .overlay ul {
    list-style: none;
  }
  .overlay ul li {
    margin-top: 24px;
    opacity: 0;
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  }
  .overlay ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  .overlay.show {
    pointer-events: auto;
    opacity: 1;
  }
  .overlay.show li {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  .overlay.show li:nth-child(1) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .overlay.show li:nth-child(2) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .overlay.show li:nth-child(3) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .overlay.show li:nth-child(4) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  /*================================
		About
	================================*/
  .About {
    width: 100%;
    margin: 0 auto;
    padding: 50px 20px;
  }
  .About .About-title {
    font-size: 24px;
    text-align: center;
  }
  .About .About-list {
    max-width: 700px;
    margin: 0 auto;
  }
  .About .About-list li {
    padding: 30px 0;
    border-bottom: 1px solid black;
  }
  .About .About-list li a {
    display: block;
    color: black;
    text-decoration: none;
  }
  .About .About-list li a .date {
    font-size: 13px;
  }
  .About .About-list li a .border {
    border: 1px solid black;
    display: inline-block;
    padding: 5px 8px;
    margin: 0 30px;
    font-size: 11px;
  }
  .About .About-list li a .message {
    padding-top: 10px;
    display: block;
    font-size: 18px;
  }
  /*================================
		施工事例
	================================*/
  .Works {
    padding: 50px 20px;
    width: 100%;
    margin: 0 auto;
  }
  .Works .Works-title {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
  }
  .Works .Works-container .Works-case {
    text-align: center;
    margin-bottom: 50px;
  }
  .Works .Works-container .Works-case h3 {
    font-size: 24px;
    margin-top: 30px;
  }
  .Works .Works-container .Works-case p {
    font-size: 14px;
    margin-top: 15px;
  }
  .Works .Works-container .Works-case .building {
    height: 280px;
    width: 430px;
  }
  .Works .Works-container .Works-case .more {
    margin-top: 15px;
    width: 300px;
    height: 47px;
  }
  .Works .Works-list {
    text-align: center;
  }
  .Works .Works-list .Works-list-btn {
    display: inline-block;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    padding: 12px 40px;
    font-size: 20px;
  }
  /*================================
		フッター
	================================*/
  footer {
    width: 100%;
    margin: 0 auto;
    background-color: black;
  }
  footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
    margin: 0 auto;
    max-width: 1100px;
    margin-bottom: 30px;
  }
  footer .footer-container .footer-logo {
    height: 40px;
  }
  footer .footer-container .footer-nav .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  footer .footer-container .footer-nav .footer-list li {
    margin: 0 30px;
    margin-bottom: 30px;
  }
  footer .footer-container .footer-nav .footer-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: inline-block;
  }
  footer p {
    color: white;
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
  }
}

/*===============================================
	▽PC表示
	（横幅が1024px以上は下記スタイル適用）
===============================================*/
@media (min-width: 1025px) {
  /*================================
		Header
	================================*/
  header {
    height: 80vh;
    background-image: url(../images/mainImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  header .header-container {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 100vw;
    opacity: 0.9;
    position: fixed;
  }
  header .header-container .header-logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 24px;
    height: 50px;
    margin-left: 50px;
    line-height: 50px;
  }
  header .header-container .header-nav .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 50px;
  }
  header .header-container .header-nav .header-list li {
    margin: 0 40px;
  }
  header .header-container .header-nav .header-list li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: inline-block;
  }
  header .header-container .header-icon {
    display: none;
  }
  header p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    font-size: 48px;
    color: white;
  }
  .overlay {
    display: none;
  }
  /*================================
		About
	================================*/
  .About .About-container {
    height: 600px;
    width: 100vw;
    padding: 90px 0;
    margin: 0 auto;
    background-color: #efefef;
  }
  .About .About-container .About-title {
    margin-bottom: 60px;
    font-size: 38px;
    text-align: center;
  }
  .About .About-container .About-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 1100px;
    margin: 0 auto;
  }
  .About .About-container .About-group img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    -webkit-box-shadow: -5px 5px #4b9600;
            box-shadow: -5px 5px #4b9600;
  }
  .About .About-container .About-group p {
    font-size: 18px;
    line-height: 40px;
  }
  /*================================
		Works
	================================*/
  .Works {
    padding: 90px 0;
    height: 1000px;
    width: 1100px;
    margin: 0 auto;
  }
  .Works .Works-title {
    margin-bottom: 60px;
    font-size: 38px;
    text-align: center;
    margin-bottom: 90px;
  }
  .Works .Works-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .Works .Works-container .Works-case {
    text-align: center;
    border: 2px solid gray;
    border-radius: 12px;
  }
  .Works .Works-container .Works-case h3 {
    font-size: 24px;
    margin-top: 30px;
  }
  .Works .Works-container .Works-case p {
    font-size: 14px;
    margin-top: 15px;
  }
  .Works .Works-container .Works-case img {
    height: 300px;
    width: 400px;
    border-radius: 10px 10px 0 0;
  }
  .Works .Works-container .Works-case .more {
    margin: 30px 0;
    width: 300px;
    height: 47px;
  }
  .Works .Works-list {
    text-align: center;
  }
  .Works .Works-list .Works-list-btn {
    margin-top: 80px;
    display: inline-block;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    padding: 12px 40px;
    font-size: 20px;
  }
  /*================================
		Skills
	================================*/
  .Skills .Skills-container {
    height: 600px;
    width: 100vw;
    padding: 90px 0;
    margin: 0 auto;
    background-color: #efefef;
  }
  .Skills .Skills-container .Skills-title {
    margin-bottom: 60px;
    font-size: 38px;
    text-align: center;
  }
  .Skills .Skills-container .Skills-table {
    width: 1100px;
    text-align: center;
    margin: 0 auto;
  }
  .Skills .Skills-container .Skills-table table {
    background-color: tomato;
    margin: 0 auto;
    width: 100%;
    height: 200px;
  }
  .Skills .Skills-container .Skills-table table thead tr {
    border-bottom: 1px solid #efefef;
  }
  .Skills .Skills-container .Skills-table table thead tr th {
    font-weight: bold;
    padding: 15px 0;
    font-size: 18px;
  }
  .Skills .Skills-container .Skills-table table tbody tr {
    border-bottom: 1px solid #efefef;
  }
  .Skills .Skills-container .Skills-table table tbody tr td {
    padding: 15px 0;
  }
  /*================================
		フッター
	================================*/
  footer {
    height: 40px;
    width: 100vw;
    margin: 0 auto;
    background-color: black;
  }
  footer .footer-container {
    padding-top: 10px;
  }
  footer .footer-container p {
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */