/*================================
    ▽共通スタイル
================================*/

* {
	box-sizing: border-box;
}
body {
	font-family: 'Hiragino Mincho ProN', 'Yu Mincho Light', 'YuMincho',
		'Yu Mincho', serif;
}
.wrap {
	overflow: hidden;
}
a:hover {
	opacity: 0.5;
	transition: 0.3s;
}

/*================================
    ▽共通カラー
================================*/

$workCaseBorder: gray;
$backGroundColor: #efefef;
$contactBorder: gray;
$contactBtn: #87e7b0; // ユニバーサルデザイン ベースカラー
$footerColor: #87e7b0; // ユニバーサルデザイン ベースカラー
/*================================
    ▽共通フォントサイズ
================================*/

$title: 28px;
$pcHeaderTitle: 48px;
$pcTitle: 38px;
$pcWorksTitle: 22px;
$footerFontSize: 12px;

/*===============================================
	▽ スマートフォン表示
===============================================*/
/*================================
		header
================================*/
header {
	height: 50vh;
	background-image: url(../images/mainImage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;

	.header-container {
		width: 100vw;
		background-color: #fff;
		opacity: 0.9;
		position: fixed;
		z-index: 5;
		.header-container-group {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 auto;
			padding: 0 30px;

			.header-logo {
				text-decoration: none;
				font-weight: bold;
				color: black;
				font-size: 20px;
				height: 50px;
				line-height: 50px;
			}

			.header-nav {
				display: none;
			}
		}

		.Hamburger {
			#open {
				cursor: pointer;
				user-select: none;
				font-size: 25px;
				line-height: 50px;
				&.hide {
					display: none;
				}
			}
		}
	}
	.header-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%);
		font-size: $title;
		color: white;
	}
}
.overlay {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.9);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 64px;
	opacity: 0;
	text-align: center;
	pointer-events: none;
	transition: opacity 0.6s;
	z-index: 10;
	.overlay-container {
		height: 50px;
		width: 100vw;
		#close {
			line-height: 50px;
			position: absolute;
			top: 0;
			right: 10px;
			font-size: 32px;
			cursor: pointer;
			user-select: none;
		}
	}
	ul {
		list-style: none;
		li {
			margin-top: 24px;
			opacity: 0;
			transform: translateY(16px);
			transition: opacity 0.3s, transform 0.3s;
			a {
				text-decoration: none;
				color: black;
				font-size: 20px;
			}
		}
	}
	&.show {
		pointer-events: auto;
		opacity: 1;
		li {
			opacity: 1;
			transform: none;
			&:nth-child(1) {
				transition-delay: 0.1s;
			}
			&:nth-child(2) {
				transition-delay: 0.2s;
			}
			&:nth-child(3) {
				transition-delay: 0.3s;
			}
		}
	}
}

/*================================
		About
================================*/
.About {
	.About-container {
		width: 100vw;
		padding: 70px 0;
		margin: 0 auto;
		.About-title {
			margin-bottom: 30px;
			font-size: $title;
			text-align: center;
		}
		.About-group {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				height: 250px;
				width: 250px;
				border-radius: 50%;
			}
			.About-message {
				margin: 40px;
				line-height: 24px;
				text-align: center;
				p {
					text-align: left;
					font-size: 18px;
					padding: 12px 0;
				}
			}
		}
		ul {
			width: 100vw;
			display: flex;
			justify-content: space-around;

			li {
				a {
					#Github,
					#Twitter,
					#Qiita {
						height: 80px;
						width: 80px;
						margin: 0 auto;
						transition: 0.3s;
						&:hover {
							transform: scale(1.1);
							transition: 0.3s;
						}
					}
				}
			}
		}
	}
}

/*================================
		Works
================================*/
.Works {
	padding: 70px 0;
	width: 100vw;
	margin: 0 auto;
	background-color: $backGroundColor;
	position: relative;

	.Works-title {
		margin-bottom: 30px;
		font-size: $title;
		text-align: center;
	}
	.Works-container {
		.Works-case {
			.Works-ul {
				.Work-li {
					text-align: center;
					margin: 100px 20%;

					img {
						height: 90%;
						width: 90%;
						cursor: pointer;
						border-radius: 10px;
						transition: 0.3s;
						&:hover {
							transform: scale(1.05);
							transition: 0.3s;
						}
					}
					h3 {
						font-size: 18px;
						margin: 30px 0;
					}
					// wokrの解説を実装予定
					// .work1-description {
					// 	background-color: #fff;

					// }
				}
			}
		}
	}
	.mask {
		position: fixed;
		background-color: rgba(0, 0, 0, 0.5);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 64px;
		opacity: 0;
		text-align: center;
		pointer-events: none;
		transition: 0.3s;
		z-index: 1;
		&.show {
			pointer-events: auto;
			opacity: 1;
			transition: 0.3s;
		}
		&.hide {
			display: none;
			transition: 0.3s;
		}
	}
}

/*================================
		Contact
================================*/
.Contact {
	text-align: center;
	.Contact-container {
		padding: 70px 0;
		width: 70vw;
		margin: 0 auto;
		.Contact-title {
			margin-bottom: 30px;
			font-size: $title;
			text-align: center;
		}
		.Contact-form {
			.Contact-form-name,
			.Contact-form-mail,
			.Contact-form-phone,
			.Contact-form-company,
			.Contact-form-message {
				width: 100%;
				padding: 4px 12px;
				font: size 13px;
				margin-bottom: 12px;
				border: none;
				border-bottom: 2px solid $contactBorder;
			}
			.Contact-form-message {
				height: 100px;
			}
			.Contact-btn {
				border: none;
				cursor: pointer;
				color: white;
				background-color: #87e7b0;
				border-radius: 20px;
				font-size: 14px;
				padding: 10px 36px;
				margin: 20px 0;
				transition: 0.3s;
				&:hover {
					transform: scale(1.1);
					transition: 0.3s;
					opacity: 0.9;
				}
			}
		}
	}
}

/*================================
		footer
	================================*/
footer {
	height: 40px;
	width: 100vw;
	margin: 0 auto;
	background-color: $footerColor;
	.footer-container {
		padding-top: 10px;
		p {
			color: white;
			font-size: $footerFontSize;
			font-weight: bold;
			text-align: center;
		}
	}
}

/*===============================================
	▽ PC表示
	（横幅が1024px以上は下記スタイル適用）
===============================================*/
@media (min-width: 1025px) {
	/*================================
		Header
	================================*/
	header {
		height: 80vh;
		.header-container {
			.header-container-group {
				.header-logo {
					font-size: 24px;
				}
				.header-nav {
					display: block; // noneの解除
					.header-list {
						display: flex;
						line-height: 50px;
						li {
							margin: 0 40px;
							a {
								text-decoration: none;
								color: black;
								font-size: 18px;
							}
						}
					}
				}
			}
			.Hamburger {
				display: none;
			}
		}

		.header-title {
			font-size: $pcHeaderTitle;
		}
	}

	/*================================
		About
	================================*/
	.About {
		.About-container {
			// 			height: 600px;
			// 			width: 100vw;
			// 			padding: 90px 0;
			// 			margin: 0 auto;
			.About-title {
				// 				margin-bottom: 60px;
				font-size: $pcTitle;
			}
			.About-group {
				display: flex;
				justify-content: center;
				flex-direction: row;
				align-items: center;
				p {
					font-size: 14px;
					line-height: 40px;
				}
			}
			ul {
				justify-content: center;
				li {
					a {
						#Github,
						#Twitter,
						#Qiita {
							height: 100px;
							width: 100px;
							margin: 0 30px;
						}
					}
				}
			}
		}
	}

	/*================================
		Works
	================================*/
	.Works {
		.Works-title {
			font-size: $pcTitle;
		}
		.Works-container {
			.Works-case {
				.Works-ul {
					display: flex;
					justify-content: space-around;
					.Work-li {
						padding: 0;
						margin: 0;
						img {
							height: 200px;
							width: 300px;
						}
						h3 {
							font-size: $pcWorksTitle;
						}
					}
				}
			}
		}
	}

	/*================================
		Contact
	================================*/
	.Contact {
		.Contact-title {
			// 			margin-bottom: 30px;
			font-size: $pcTitle;
		}
		// 		.Contact-form {
		// 			.Contact-form-name,
		// 			.Contact-form-mail,
		// 			.Contact-form-phone,
		// 			.Contact-form-company,
		// 			.Contact-form-message {
		// 				width: 100%;
		// 				padding: 4px 12px;
		// 				font: size 13px;
		// 				margin-bottom: 12px;
		// 				border: none;
		// 				border-bottom: 2px solid $contactBorder;
		// 			}
		// 			.Contact-form-message {
		// 				height: 100px;
		// 			}
		// 			.Contact-btn {
		// 				border: none;
		// 				cursor: pointer;
		// 				color: white;
		// 				background-color: #87e7b0;
		// 				border-radius: 20px;
		// 				font-size: 14px;
		// 				padding: 10px 36px;
		// 				margin: 20px 0;
		// 				&:hover {
		// 					transform: scale(1.05);
		// 					transition: 0.9s;
		// 					opacity: 0.9;
		// 				}
		// 			}
		// 		}
		// 	}
	}
}
